abbr[title="Controller"] {
  color: #91cc75;
}

abbr[title="Mouse & Keyboard"] {
  color: #5470c6;
}

.heatmapRow {
  //border-top: 1px solid black;
  background: #fac858;
  height: 5px;
  max-width: 15rem;
  width: 100%;
}

.heatmapRow[title="Mouse & Keyboard"] {
  background: #5c7bd9;
}

.heatmapRow[title="Controller"] {
  background: #91cc75;
}

.heatmapRow[exclude] {
  background: red;
}

.input-heatmap {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

#breakdownContent {
  display: none;
}

#breakdownContent.active {
  display: block;
}

.daystd {
  font-family: monospace;
  white-space: pre;
}

#inputBreakdownTable {
  margin: 0;
  margin-left: 1rem;
  width: max-content;
}

#inputBreakdownTableBody td {
  white-space: nowrap;
}
