abbr[title="Controller"] {
  color: #91cc75;
}

abbr[title="Mouse & Keyboard"] {
  color: #5470c6;
}

.heatmapRow {
  //border-top: 1px solid black;
  background: #fac858;
  height: 5px;
  max-width: 15rem;
  width: 100%;
}

.heatmapRow[title="Mouse & Keyboard"] {
  background: #5c7bd9;
}

.heatmapRow[title="Controller"] {
  background: #91cc75;
}

.heatmapRow[exclude] {
  background: red;
}

.input-heatmap {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

#breakdownContent {
  display: none;
}

#breakdownContent.active {
  display: block;
}

.daystd {
  font-family: monospace;
  white-space: pre;
}

#inputBreakdownTable {
  margin: 0;
  margin-left: 1rem;
  width: max-content;
}

#inputBreakdownTableBody td {
  white-space: nowrap;
}

.mnkAveragePlacement,
.controllerAveragePlacement {
  position: relative;

  &::after {
    content: attr(data-average);
    display: block;
    font-size: 0.6rem;
    height: 50%;
    position: absolute;
    right: -3rem;
    text-align: right;
    width: 4rem;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.controllerAveragePlacement::after {
  background-color: #91cc75;
  color: #91cc75;
}
.mnkAveragePlacement::after {
  background-color: #5c7bd9;
  color: #5c7bd9;
}
