/*sass --watch algsLiveStats.scss algsLiveStats.css*/
html {
  padding: 0;
}

body {
  background: #111;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  max-width: unset;
  max-height: unset;
  color: white;
  overflow-x: hidden;
}

#maincontainer {
  padding: 1rem 2rem;
}

#maincontainer > h1 {
  color: lightblue;
  line-height: 2.5rem;
}

table {
  width: 0 !important;
  display: inline-block;
  border-collapse: collapse !important;
}

tr {
  white-space: nowrap;

  &.even {
    background: #222 !important;
  }

  &.odd {
    background: #333 !important;
  }

  &:not(.alive) {
    opacity: 0.3;
  }

  &:nth-child(10) {
    padding-bottom: 1rem !important;
  }

  &.alive.onMatchPoint + tr:not(.onMatchPoint) {
    border-top: 2px solid #005200;
  }

  &.alive + tr:not(.alive) {
    border-top: 6px solid #111;
  }

  &:not(.top10) td.tournamentPlace {
    color: #ccc;
  }

  &.onMatchPoint {
    color: white;
    font-weight: bold;
  }
}

.top10 td.tournamentPlace {
  background: #555;
}

.tournamentPlace {
  color: white;
}

.onMatchPoint .place {
  background: #005200 !important;
}

td span {
  white-space: nowrap;
}

td img {
  height: 1rem;
  padding-right: 5px;
}
